/*Theme Name: AMC
Theme URI: http://alcaldiacomacaran.com
Author:The Compor Team
Author URI: http://comporsolutions.com 
Description: Theme Development for Alcaldia comacaran
Version: 1.0;*/
/*================================
  =          VARIABLES           =  
  ================================*/
mainColor = #27ae60
secondColor = #2ecc71
grisClaro = #F1F1F1

/*================================
  =          FONTS               =  
  ================================*/
@font-face {
    font-family: 'comacaran';
    src:url('fonts/comacaran/comacaran.eot?-cse6fv');
    src:url('fonts/comacaran/comacaran.eot?#iefix-cse6fv') format('embedded-opentype'),
        url('fonts/comacaran/comacaran.woff?-cse6fv') format('woff'),
        url('fonts/comacaran/comacaran.ttf?-cse6fv') format('truetype'),
        url('fonts/comacaran/comacaran.svg?-cse6fv#comacaran') format('svg');
    font-weight: normal;
    font-style: normal;
}  


body
	background-color grisClaro
	font-size 16px
	margin 0
img
video
	max-width 100%	
	
/*================================
  =          PAGE BODY           =  
  ================================*/
.Body	
	display flex
	justify-content space-between
	&--Main
	&--Aside
		background-color white
	&--Main
		width 68%
		&Themes
			width 100%		
			display flex
			justify-content space-between
			
			&1
			&2
			&3
				background-color #e74c3c
				width 30%
				height 150px
				margin 2em 0		
		&Box
			padding .5em
			margin-bottom 2em
			&One
			&Two
				border 1px dotted black	
			
	&--Aside
		padding .5em	
		height 300px
		width 28%
		max-width 28%	
		&Message
			text-align center
    			
	
/*================================
  =          HEADER              =  
  ================================*/
  

.Header 
	background-color white
	display flex
	justify-content space-between
	max-height 120px

	&--logo
		flex 1 6 15%
	&--name
		display flex
		align-items center
		flex-wrap wrap
		align-content center
		flex: 3 1 60%;
		justify-content space-around
		&Title
			margin 0
		&Subtitle
			margin-bottom 0
			margin-top 0	
	&--social
		align-items center
		flex 1 6 25%
		display flex
		flex-wrap wrap
		&Box
			align-self flex-start
		&Box
		&SearchBox
			width 100%
			text-align right
			padding 1em 0
			&Button
			&Input
				padding .5em
				text-transform uppercase	
			
			&Button
				border none
				background-color #2ecc71
				color white
				cursor pointer
			&Input
				color #2ecc71
				border none
				background-color #EDEDED
					
		&SearchBox
			align-self flex-end
			
			

/*================================
  =          ICONS               =  
  ================================*/	
.Icon
	font-family "comacaran"
	&-facebook
	&-youtube
		font-size 2em
		color white
		text-decoration none
		&:before	
			padding .3em
	&-facebook
		&:before
			background-color #45619D
			content: "\e603"
	&-youtube
		&:before
			background-color #CC181E
			content "\e605"
/*================================
  =          NAV                 =  
  ================================*/
.Nav
	background-color mainColor 	
	margin-bottom 2em
	&-menu
		padding 0
		margin 0
		li
			display inline-block
			padding .5em  				
		a
			color white
			text-decoration none
			text-transform uppercase

/*================================
  =          POSTS BOXS          =  
  ================================*/
.PostBox		
 	&-Main1
 		background-color white
 		margin-bottom 2em
 		&Image
 		&Content
 			box-sizing border-box
 			display inline-block
 			margin-right -4px
 			vertical-align top
 			width 40%
 			
 		&Content
 			padding-left .5em
 			width 60%	
 			
 	&-Second
 		display flex
 		flex-wrap wrap 
 		&Child
 			background-color grisClaro
 			margin-bottom .5em
 			width 49.5%
 			&:nth-child(odd)
 				margin-right 1%	
 	&-Main2
 	&-Second2
 		background-color red			
 		display inline-block
 		margin-right -4px 
 		vertical-align top
 		width 40%
 	&-Second2 
 		width 60%		


			

/*================================
  =          UTILITIES           =  
  ================================*/			
.u
	&-date
		color #ddd	
		font-size .8em
		font-weight bold
		font-style italic
		margin 0
	
	&-extract
		color white	

		
	&-title
	&-subtitle
		color mainColor
		margin 0
		text-transform uppercase	
	&-title
		font-size 1.5em
	&-subtitle
		font-size 1em
	&-Middlealign
		vertical-align middle	
		
/*================================
  =          WRAP                =  
  ================================*/
.Body	
.Wrap 
.Wrap2 
	width 80%
	margin 0 auto
	max-width 1200px
.Wrap3
	background-color white
    	

	  	